<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	  	<!-- Bootstap -->
	<!-- CSS only -->
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
	<!-- JavaScript Bundle with Popper -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
	<link rel="stylesheet" href="/stylesheets/vendor.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>계약하기</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/javascripts/loginHeader.js"></script>
	
	  
	<script>
		$(document).ready(function() {
			var loginStatus = localStorage.getItem('status');
			loginHeader(loginStatus);
		});
	</script>
	  
	<!-- 팝업 창 닫으면 홈으로 이동 -->
	<script>
		$(document).ready(function() {
			$('#popup_box').on('hidden.bs.modal', function () {
			document.location.href="/";
			});
		});
	</script>
	  
	 
  </head>
  <body>

    <!-- header -->
   <header class="header header-dark header-sticky separator-bottom">
      <div class="container">
        <div class="row">
          <nav class="navbar navbar-expand-lg navbar-dark">
            <a href="/" class="navbar-brand order-1 order-lg-2"><img src="/images/givingtree_logo.svg" style="width:120px;" alt="Logo"></a>
            <button class="navbar-toggler order-2" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse order-3 order-lg-1" id="navbarMenu">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>	  
              </ul>
            </div>

            <!--로그인 하고 난 후 상태바-->
            <div class="collapse navbar-collapse order-5 order-lg-3" id="navbarMenu2">
              <ul class="navbar-nav ml-auto">
				<li class="nav-item">
                  <a id ="before_login" class="nav-link logingroup" href="/login">로그인</a>
                  <a id ="after_login" class="nav-link logingroup" href="/login">로그아웃</a>
                </li>
				<li class="nav-item">
                  <a id= "after_login_user" class="nav-link logingroup" href="/mypage">나의 기빙트리</a>
                  <a id="after_login_admin" class="nav-link logingroup" href="/mypage_admin">기빙트리 관리</a>
                </li>
              </ul>
            </div>
			<!--끝-->
          </nav>
        </div>
      </div>
    </header>

      <!-- 제목 -->
    <section style="background-color:#304635">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h1 style="padding-top:50px; color:white">기부율 설정</h1>
          </div>
        </div>
      </div>
    </section>
	  
	
	<section class="card">
		<div class="container">
            <div class="row">
				<!-- 왼쪽 칼럼 -->
                <div class="col-md-7">
					<div class="row pb-5">
						<div class="row">
							<!-- 기본정보 -->
							<h4 class="col h3 mb-0"><span class="text-muted">01.</span> 기부율</h4>
						</div>
						<div class="col">
						<!-- 드랍다운 넣기 -->
							<div class="row pt-1">
								<label for="inputDonationRate" class="form-label col-lg-3"></label>
								<div class="col-md-3"><select id="inputDonationRate" class="form-select text-center " style="width: 200px;">
								  <option selected>기부율을 선택해주세요.</option>
								  <option value="10">10%</option>
								  <option value="20">20%</option>
								  <option value="30">30%</option>
								  <option value="40">40%</option>
								  <option value="50">50%</option>
								  <option value="60">60%</option>
								  <option value="70">70%</option>
								  <option value="80">80%</option>
								  <option value="90">90%</option>
								  <option value="100">100%</option></select>
								</div>
							</div>
						</div>
					</div>
					<!-- 약관 -->
					<div class="row pb-5">
						<div class="w-100"></div>
						<h4 class="h3 mb-0"><span class="text-muted">02.</span> 약관</h4>
 
						<!-- 약관 넣어주기 -->
						<div class="overflow-scroll pt-3" style="text-size:10px">
							<div id="agreement">
								<h4>제 1조(서비스 이용 요금)</h4>
								<p>1) 회사는 판매자에게 전자상거래 플랫폼 제공 서비스 및 각종 부가 서비스를 이용함에 따른 대가로 서비스 이용료를 부과할 수 있으며, 회사는 서비스 제공 비용, 시장상황, 거래방식 등을 고려하여 판매자에게 제공하는 서비스에 대한 이용료를 정합니다. 서비스 이용료는 기본 서비스 이용료(결제수수료 및 노출 추가 수수료)는 1,000원으로 하며, 각종 부가서비스 이용료(판매자 추가할인, 이벤트 추가할인 등)를 각각 산정하여 합산합니다. </p>
								<p>2) 회사는 서비스 이용료의 구체적인 사항 및 요율 등을 공지합니다. 회사는 필요한 경우 서비스 수수료를 신설, 변경할 수 있으며, 신설 또는 변경사항은 공지하여야 합니다.</p>
								<p>3) 회사는 판매 활성화 등을 위하여 기본 서비스 이용료 범위 내에서 특정 상품에 대한 기본 서비스 이용료를 할인할 수 있습니다. 또한 회사는 특정 판매자에 대한 서비스 이용료를 회사의 내부적인 정책 또는 회사와 판매자 간의 합의에 따라 다르게 정할 수 있습니다. 특정 판매자에 대한 서비스 이용료의 조정 또는 면제 시 회사는 미리 그에 관한 주요 사항을 대상자에게 고지 또는 약정할 수 있습니다.</p>
								<h4>제 2조(기부 서비스)</h4>
								<p>1) 회사는 기부서비스 전반에 대한 객관적이고 전문적인 서비스를 제공하며, 서비스의 경과 및 결과에 대해 특별한 사정이 없는 한 모두 공개함을 원칙으로 합니다.</p>
								<p>2) 판매자는 총 수익에서 일정 비율을 기부할 수 있습니다. 수익 산정은 각 물품별로 하며, 물품 등록 시에 비율을 정하여야 합니다. 회사는 일정 비율을 넘어 기부하는 판매자의 서비스 이용료를 공제하는 등의 방식으로 혜택을 줄 수 있습니다. 해당 내용은 회사와 판매자 간의 협의 또는 회사의 내부적인 정책에 따라 다르게 정할 수 있습니다.</p>
								<h4>제 3조 (재판권 및 준거법)</h4>
								<p>1. 이 약관에 명시되지 않은 사항은 전기통신사업법 등 관계법령과 상관습에 따릅니다.</p>
								<p>2. [서비스명]의 회원의 경우 회사가 별도로 정한 약관 및 정책에 따릅니다.</p>
								<p>3. "회사"와 "회원"간 발생한 분쟁에 관한 소송은 민사소송법 상의 관할법원에 제소합니다.</p>
							</div>
						</div>
					</div>
					
					<div class="row pt-2 pb-5 form-check">
						<label class="form-check-label" for="agreeCheck" style="text-size:20px; padding-right:20px"><h4>위 사항에 동의하십니까?</h4></label>
						<input class="form-check-input" type="checkbox" value="" id="agreeCheck" style="width:30px; height:30px">
					</div>
				</div>
				
				
				<div class="col-1"></div>
                    
				
				<!-- 오른쪽 칼럼 -->
                <div class="col-md-4 uploadProduct">
            			<div class="card card-data bg-light">
              			<div class="card-header py-2 px-3">
                			<div class="row align-items-center">
                  			<div class="col">
                    			<h3 class="fs-18 mb-0">등록 내역</h3>
                  			</div>
                			</div>
              			</div>
              			<div class="card-body">
                			<ul class="list-group list-group-minimal">
                  				<li class="list-group-item d-flex justify-content-between align-items-center">
                    				기부
                    				<div id='price1'></div>
                  				</li>
                  				<li class="list-group-item d-flex justify-content-between align-items-center">
                    				수익
                    				<div id='price2'></div>
                  				</li>
                  				<li class="list-group-item d-flex justify-content-between align-items-center">
                  				</li>
                			</ul>
              			</div>
              			<div class="card-footer py-2">
                			<ul class="list-group list-group-minimal">
                 			<li class="list-group-item d-flex justify-content-between align-items-center text-dark fs-18">
                    			Total
                    			<div id='price3'></div>
                  			</li>
                			</ul>
              			</div>
            			</div>
					<div id="register" data-toggle="modal" data-target="#popup_box" class="btn btn-lg btn-primary btn-block mt-1">등록하기</div>
					<!-- 팝업 창 -->
					<div class="modal modal-center pt-10 fade" id="popup_box" role="dialog" data-backdrop="static">
						<div class="modal-dialog modal-center">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h3>상품 등록</h3>
								</div>
								<div class="modal-body text-center">
									<h5>상품이 등록되었습니다.</h5>
								</div>
								<div class="modal-footer">
									<p></p>
									<a href="/index" class="btn close_link" data-dismiss="modal">닫기</a> 
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
		</div>        
    </section>
	  
	


	  
    


	<!-- footer -->
    <footer class="bg-dark text-white py-0">
      <div class="container">
        <div class="row separated">
		  <!-- 왼쪽 칼럼 -->
          <div class="col-lg-6 py-10">
            <div class="row">
              <div class="col-md-8">
                <p>Thank you for visiting <a class="underline">The Giving Tree.</a><br>
					The more you share, the richer your life. </p>
              </div>
            </div>
			<!--퀵링크 박스-->
            <div class="row">
              <div class="col-md-10">
                <h4 class="eyebrow mb-2">Quick Links</h4>
                <ul class="list-group list-group-columns">
                  <li class="list-group-item"><a href="about.html">About</a></li>
                  <li class="list-group-item"><a href="contact.html">Contact Us</a></li>
                  <li class="list-group-item"><a href="faq.html">FAQ</a></li>
                  <li class="list-group-item"><a href="blog.html">Blog</a></li>
                  <li class="list-group-item"><a href="text.html">Terms of Use</a></li>
                </ul>
              </div>
            </div>
          </div>
		  <!-- 오른쪽 칼럼 -->
          <div class="col-lg-6 py-10">
			<!-- 구독하기 : Subscribe -->
            <div class="row justify-content-end">
              <div class="col-lg-10">
                <h4 class="eyebrow mb-2">Subscribe</h4>
                <div class="input-group">
                  <input type="text" class="form-control form-control-lg" placeholder="Email" aria-label="Subscribe" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-white" type="button" id="button-addon2">Subscribe</button>
                  </div>
                </div>
              </div>
            </div>
			<!-- 구독하기 : FOLLOW US -->
            <div class="row justify-content-end">
              <div class="col-lg-10">
                <h4 class="eyebrow mb-2">Follow us</h4>
                <nav class="nav nav-icons">
                  <a class="nav-link" href="#!"><i class="icon-facebook-o"></i></a>
                  <a class="nav-link" href="#!"><i class="icon-twitter-o"></i></a>
                  <a class="nav-link" href="#!"><i class="icon-youtube-o"></i></a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>  
    <!-- / footer -->

    <script src="/javascripts/vendor.min.js"></script>
    <script src="/javascripts/app.js"></script>
	<script>
		let data = JSON.parse(localStorage.getItem("uploadData"));
		console.log(data);
		
		let price1Initial = data.price1;
		let price2Final
		let priceDonation
		
		$('#inputDonationRate').on('change', function(e) {
    		let valueSelected = this.value;
			data.donate = parseInt($('#inputDonationRate').val());
			priceDonation = Math.round(data.price1 * data.donate / 100 / 100) * 100;
			price2Final = price1Initial - priceDonation;
			// console.log(priceDonation)
			// console.log(price2Final)
			// console.log(price1Initial)
			
			console.log('₩ ' + priceDonation);
			$('#price1').text('₩ ' + priceDonation);
			$('#price2').text('₩ ' + price2Final);
			$('#price3').text('₩ ' + price1Initial);
		});
		
		$('#register').click(function() {
			console.log(data)
			
			$.ajax({
				"url": "/upload/upload",
				"type": "post",
				"datatype": "json",
				"data": data,
				"success": function(results) {
					
					
					// 팝업창에서 확인 클릭하면
					// 상세 정보로 이동
					// location.href('/');
				}
			})  
		})
		
				
	</script>
  </body>
</html>